/*      -- HEADER --      */

.header{
    display: flex;
    background-color: white;
    padding: 5px 5px 5px 5px;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}


#imglogo{
    height: 120px;
    width: 120px;
}

.homebutton {
    width: 10vw;
}

.ImSlogan {
    text-align: center;
}
.sections{
    align-items: right;
    gap: 0.2vw;
    padding-right: 0.5vw;
    text-align: center;
    display: flex;
}

/* .caja{
    background-color: gainsboro;
    display: flexbox;
    text-align: center;
} */



/*      -- BODY --      */

body{
    background-color: #8e3545;

}
#productos{
    text-align: center;
}

.titulos{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container{
    display: flex;
    gap: 20px;
}
.img-1{
    width: 200px;
    padding-top: 5px;
    padding-bottom: 10px;
}

/*      -- FOOTER --      */

#footer{
    text-align: center;
    background-color: white;
    padding-top: 1px;
    padding-bottom: 10px;
}


