/*      -- HEADER --      */

.header{
    display: flex;
    background-color: white;
    padding: 5px 5px 5px 5px;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}


#imglogo{
    height: 120px;
    width: 120px;
}

.homebutton {
    width: 10vw;
}

.ImSlogan {
    text-align: center;
}
.sections{
    align-items: right;
    gap: 20px;
    padding-right: 10px;
}

.search{
    position:relative;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    padding: 10px;
    transition-duration: 500ms;
    cursor: pointer;
    background-repeat: no-repeat;
    font-size: 15px;
    color: transparent;
    border: 1px solid #A6192E;
    overflow: hidden;
    background: url(icons/search-white.svg) no-repeat transparent;
    background-size: 22px;
    background-position: 45% 50%;
}

.search:hover {
    cursor: pointer;
    border: 1px solid #A6192E;
    background: url(icons/search.svg) no-repeat transparent;
    background-size: 22px;
    background-position: 45% 50%;
}

.search:focus {
    width: 200px;
    cursor: pointer;
    padding-left: 40px;
    color: #A6192E;
    outline: none;
    border: 1px solid #8e3545;
    background-color: transparent;
    background: url(icons/search.svg) no-repeat;
    background-size: 22px;
    background-position: 10px 50%;
}


/*      -- BODY --      */

body{
    background-color: #8e3545;

}
#productos{
    text-align: center;
}

.container {  
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Mates Bombillas Yerberas Materas"
      "IMG-Mates IMG-Bombillas IMG-Yerberas IMG-Materas";
  }
  
  .Mates { grid-area: Mates;
    text-align: center;
}
  .Bombillas { grid-area: Bombillas;
    text-align: center;
 }
  
  .Materas { grid-area: Materas;
    text-align: center;
 }
  
 .Cuchillos { grid-area: Cuchillos;
    text-align: center;
 }

  .IMG-Mates { 
    grid-area: IMG-Mates;
    text-align: center;
    width: 1fr;
    height: 1fr;
 }
  
  .IMG-Bombillas { 
    grid-area: IMG-Bombillas;
    text-align: center;
    width: 10px;
    height: 10px;
 }
  
  .IMG-Materas { 
    grid-area: IMG-Materas;
    text-align: center;
    width: 10px;
    height: 10px;
 }

 .IMG-Cuchillos { 
    grid-area: IMG-Cuchillos;
    text-align: center;
    width: 10px;
    height: 10px;
 }

/*      -- FOOTER --      */

#footer{
    text-align: center;
    background-color: white;
    padding-top: 1px;
    padding-bottom: 10px;
}


