body{
    background-color: grey;

}

.header{
    display: flex;
    background-color: white;
    padding: 5px 5px 5px 5px;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

#imglogo{
    height: 120px;
    width: 120px;
}

/* .division{
    width: fit-content;
    position: absolute;
    margin-left: 60px;
} */

.homebutton {
    width: 10vw;
}

.sections{
    display: flex;
    text-align: center;
    gap: 20px;
    padding-right: 10px;
}



#mates{
text-align: center;
}

#footer{
text-align: center;
border: solid;
border-color: red;
background-color: white;

}

#uno{
    border: solid;
    border-color: blue;
}

#dos{
    border: solid;
    border-color: blue;
}